<footer>
    <div class="footer-menu">
      <ul>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/customer-service">Customer Service</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        <li><a href="/terms-of-use">Terms of Use</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
      </ul>
    </div>
  
    <div class="social-media">
      <a href="https://facebook.com">Facebook</a>
      <a href="https://twitter.com">Twitter</a>
      <a href="https://instagram.com">Instagram</a>
    </div>
  
    <div class="copyright">
      <p>© Phuong Bac Nguyen, pbnguyen@myseneca.ca, WEB322 Winter 2025</p>
      <p>By submitting this assignment I declare that this assignment is my own work...</p>
    </div>
  </footer>
  