<% layout = "main" %>

<div class="row">
  <% if (groupedCategories && groupedCategories.length > 0) { %>
    <div class="container my-4">
      <% groupedCategories.forEach(categoryGroup => { %>
        <h2><%= categoryGroup.category %></h2>
        <div class="row">
          <% categoryGroup.products.forEach(product => { %>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <%- include("../partials/product", { product: product }) %>
            </div>
          <% }); %>
        </div>
      <% }); %>
    </div>
  <% } else { %>
    <p>No products available at the moment.</p>
  <% } %>
</div>