<% layout = "main" %>
<div class="container my-5">
  <div class="alert alert-success text-center">
    <h2><%= title %></h2>
    <p><%= message %></p>
    <p><a href="/" class="btn btn-primary">Return Home</a></p>
  </div>
</div>
